.Footer {
  /* position: absolute; */
  margin-top: auto;
  width: 100%;
  height: 30%;
  background-color: black;
  color: #ffff;
  .row {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    flex-wrap: wrap;
    .col {
      display: flex;
      flex-direction: column;
      .headingcol {
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          margin-right: 1rem;
          font-size: 1.5rem;
        }
      }
      .s-links {
        text-align: start;
        align-items: start;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        .sicon {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .Footer {
    .row {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }
}
